<?xml version="1.0"?>
<config>
  <modules>
    <KBariotis_NBP>
      <version>0.1.0</version>
    </KBariotis_NBP>
  </modules>
  <global>
    <models>
      <nbp>
        <class>KBariotis_NBP_Model</class>
      </nbp>
    </models>
    <helpers>
      <nbp>
        <class>KBariotis_NBP_Helper</class>
      </nbp>
    </helpers>
    <blocks>
      <nbp>
        <class>KBariotis_NBP_Block</class>
      </nbp>
    </blocks>
  </global>
  <default>
    <payment>
      <nbp>
        <model>nbp/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>National Bank of Greece Payments</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </nbp>
    </payment>
  </default>
  <frontend>
    <routers>
      <nbp>
        <use>standard</use>
        <args>
          <module>KBariotis_NBP</module>
          <frontName>nbp</frontName>
        </args>
      </nbp>
    </routers>
  </frontend>
</config>
